* {
  margin: 5px;
  text-align: center;
  border-radius: 3px;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: rgb(208, 208, 208);
}

button {
  background-color: rgb(79, 194, 106);
  /* width: 25%; */
}